@use "../variables" as *;
@use "../mixins" as *;

.book-stats-container {
  display: grid;
  grid-column: span 12;
  gap: 2rem;

  @include medium-and-up {
    gap: 3rem;
  }

  &__section {
    margin-bottom: 2rem;
  }

  &__section-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: $text;
    margin-bottom: 1.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid $primary;

    @include medium-and-up {
      font-size: 1.8rem;
    }
  }
}
