@use "../variables" as *;
@use "../mixins" as *;

.languages-list {
  display: grid;
  grid-template-areas:
    "name dates"
    "languages languages"
    "desc desc";
  margin-bottom: 20px;
  padding: 0 20px;

  @include small-and-up {
    grid-template-areas:
      "name dates"
      "languages ."
      "desc .";
  }

  @include print {
    margin-bottom: 10px;
    padding: 0 10px;
  }

  &__name {
    grid-area: name;
    text-transform: uppercase;
  }

  &__dates {
    display: grid;
    grid-area: dates;
    justify-content: end;
  }

  &__languages {
    display: flex;
    grid-area: languages;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      padding-right: 10px;
    }
  }

  &__desc {
    grid-area: desc;
  }
}
