@use "../variables" as *;
@use "../mixins" as *;

.languages-list {
  display: grid;
  grid-template-areas:
    "name dates"
    "languages languages"
    "desc desc";
  margin-bottom: 20px;
  padding: 0 20px;

  @include small-and-up {
    grid-template-areas:
      "name dates"
      "languages languages"
      "desc desc";
  }

  @include print {
    margin-bottom: 6px;
    padding: 0 6px;
    font-size: 0.7rem;
    line-height: 1.25;
  }

  &__name {
    grid-area: name;
    text-transform: uppercase;

    @include print {
      font-size: 0.75rem;
      font-weight: 600;
    }

    a {
      // Minimum touch target size (WCAG 2.5.5)
      display: inline-flex;
      align-items: center;
      min-height: 44px;

      @include small-and-up {
        min-height: auto;
      }
    }
  }

  &__dates {
    display: grid;
    grid-area: dates;
    justify-content: end;

    @include print {
      font-size: 0.65rem;
    }
  }

  &__languages {
    display: flex;
    grid-area: languages;
    margin: 0;
    padding: 0;

    @include print {
      margin-top: 2px;
      font-size: 0.65rem;
    }

    li {
      display: inline-flex;
      align-items: center;
      padding-right: 10px;

      @include print {
        padding-right: 6px;
      }

      a {
        // Minimum touch target size (WCAG 2.5.5)
        min-height: 44px;
        display: inline-flex;
        align-items: center;

        @include small-and-up {
          min-height: auto;
        }
      }
    }
  }

  &__desc {
    grid-area: desc;

    @include print {
      margin-top: 2px;
      font-size: 0.7rem;
      line-height: 1.2;
    }
  }
}
