@use "../mixins" as *;
@use "../variables" as *;

.post-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px 20px;
  transition: all 0.45s ease;
  background-color: $primary;
  color: $inverted-text;

  // h2 {
  //   margin: 17px 20px 13px 0;
  //   font-size: 12px;

  //   @include small {
  //     font-size: 14px;
  //   }

  //   @include medium {
  //     font-size: 16px;
  //   }

  //   @include medium-and-up {
  //     font-weight: 100;
  //   }

  //   @include large {
  //     font-size: 18px;
  //   }
  // }

  time {
    margin: 17px 0 13px;
    font-family: "Courier New", monospace;
    font-weight: 600;
    letter-spacing: 0.5px;

    @include medium-and-up {
      font-weight: 400;
    }
  }

  // Legacy support for old <p> dates
  p {
    margin: 17px 0 13px;

    @include medium-and-up {
      font-weight: 100;
    }
  }
}
