@use "../variables" as *;
@use "../mixins" as *;

.resume {
  grid-column: span 12;

  &__main-block {
    margin-bottom: 40px;
    overflow: hidden;
    border: 2px solid $primary;

    @include print {
      margin-bottom: 6px;
      border-width: 1px;
    }
  }

  &__grid {
    columns: 1;

    @include medium-and-up {
      columns: 2;
      column-gap: 40px;
    }

    @include print {
      display: grid;
      grid-template-columns: 57% 42%;
      grid-template-areas:
        "experience education"
        "experience freelance"
        "experience projects"
        "experience volunteering"
        "experience talks";
      column-gap: 8px;
      row-gap: 6px;
    }

    > * {
      margin-bottom: 40px;
      overflow: hidden;
      border: 2px solid $primary;
      break-inside: avoid;

      @include print {
        margin-bottom: 0;
        border-width: 1px;
      }
    }
  }

  // Grid areas for print layout
  @include print {
    &__grid__experience {
      grid-area: experience;
    }

    &__grid__education {
      grid-area: education;
    }

    &__grid__talks {
      grid-area: talks;
    }

    &__grid__projects {
      grid-area: projects;
    }

    &__grid__freelance {
      grid-area: freelance;
    }

    &__grid__volunteering {
      grid-area: volunteering;
    }
  }
}
