@use "../variables" as *;
@use "../mixins" as *;

.resume {
  grid-column: span 12;

  &__main-block {
    margin-bottom: 40px;
    overflow: hidden;
    border: 2px solid $primary;

    @include print {
      margin-bottom: 10px;
    }
  }

  &__grid {
    columns: 1;

    @include medium-and-up {
      columns: 2;
      column-gap: 40px;
    }

    @include print {
      columns: 2;
      column-gap: 20px;
    }

    > * {
      margin-bottom: 40px;
      overflow: hidden;
      border: 2px solid $primary;
      break-inside: avoid;

      @include print {
        margin-bottom: 10px;
      }
    }
  }
}
