@use "../variables" as *;

$height: 35px;

.skill-bar {
  display: flex;
  position: relative;
  align-items: center;
  height: $height;
  margin: 40px 0;

  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $height;
    padding: 0 10px;
    font-weight: bold;
  }

  &__box {
    width: 100%;
    height: $height;
    background-color: $gray-lightest;

    &__level {
      height: $height;
    }

    &__percent {
      position: absolute;
      top: 9px;
      right: 10px;
      color: black;
      text-align: right;
    }
  }
}
