@use "../variables" as *;
@use "../mixins" as *;

.title {
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: $primary;
  color: $inverted-text;
  line-height: 0;
  text-transform: uppercase;

  @include print {
    margin-bottom: 10px;
    padding: 1px 10px;
  }

  h3 {
    font-weight: 100;

    @include print {
      margin: 10px 0;
    }
  }
}
