@use "../variables" as *;
@use "../mixins" as *;

.title {
  margin-bottom: 20px;
  padding: 0.1px 20px;
  transition: all 0.45s ease;
  background-color: $primary;
  color: $inverted-text;
  line-height: 1;
  text-transform: uppercase;

  @include print {
    margin-bottom: 10px;
    padding: 1px 10px;
    min-height: 20px;
  }

  h2 {
    font-size: 1.17em;
    margin: 0.5em 0;

    @include medium-and-up {
      font-weight: 100;
    }
  }

  &__icon {
    margin-right: 0.6rem;
  }
}
