@use "../mixins" as *;
@use "../variables" as *;

.tutorial-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin-bottom: 2rem;

  @include small-and-up {
    grid-template-columns: repeat(2, 1fr);
  }

  @include medium-and-up {
    grid-template-columns: repeat(2, 1fr);
  }

  @include large {
    grid-template-columns: repeat(3, 1fr);
  }
}
