---
import TextArea from "@components/TextArea.astro";
import Title from "@components/Title.astro";
import Layout from "@layouts/Layout.astro";
import { t } from "@locales";
import type { ContactItem } from "@types/contact";
import type { Language } from "@types/i18n";

interface Props {
  lang: Language;
  contact: ContactItem[];
  aboutContent: {
    me: string;
    internet: string;
  };
}

const { lang, contact, aboutContent } = Astro.props;
---

<Layout lang={lang} contact={contact} title={t(lang, "pages.about")}>
  <main class="about">
    <section class="about__grid">
      <h1 class="sr-only">{t(lang, "pages.about")}</h1>
      <section class="about__grid__me">
        <Title title={t(lang, "about.me")} headingLevel="h2" />
        <TextArea text={aboutContent.me} />
      </section>
      <section class="about__grid__internet">
        <Title title={t(lang, "about.internet")} headingLevel="h2" />
        <TextArea text={aboutContent.internet} />
      </section>
    </section>
  </main>
</Layout>
