@use "./mixins" as *;
@use "./variables" as *;

html {
  overflow-y: scroll;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: initial;
  width: calc(100vw - 40px);
  max-width: $container-max-width;
  padding: 20px;
  margin: 0 auto;

  @include print {
    width: 90vw;
    padding: 0;
  }
}

#gatsby-focus-wrapper,
#app-wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
}

.content {
  grid-column: span 12;
}
