@use "./variables" as *;
@use "./mixins" as *;

* {
  outline: 0;
}

html {
  // Prevent layout shift when scrollbar appears/disappears
  // This reserves space for the scrollbar even when content doesn't overflow
  scrollbar-gutter: stable;
}

body {
  transition: all 0.45s ease;
  background-color: $background;
  color: $text;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;

  @include medium-and-up {
    font-size: 17px;
  }

  @include large {
    font-size: 18px;
  }
}

em {
  color: $cursive-color;

  @include print {
    color: $text;
  }
}

a,
a em {
  transition: all 0.45s ease;
  color: $accent;
  text-decoration: none;

  @include print {
    color: $text;
  }
}

code {
  color: $code;
  font-size: 0.94em;
}
