* {
  outline: 0;
}

body {
  transition: all .45s ease;
  background-color: $background;
  color: $text;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;

  @include small {
    font-size: 14px;
  }

  @include medium {
    font-size: 16px;
  }

  @include large {
    font-size: 18px;
  }
}

a {
  transition: all .45s ease;
  color: $accent;
  text-decoration: none;

  @include print {
    color: $text;
  }
}
