@use "normalize.css";
@use "./variables";
@use "./mixins";
@use "./layout";
@use "./overrides";

// Component styles
@use "./components/layout" as component-layout;
@use "./components/header";
@use "./components/menu";
@use "./components/language-switcher";
@use "./components/theme-switcher";
@use "./components/title";
@use "./components/text-area";
@use "./components/basic-list";
@use "./components/languages-list";
@use "./components/resume";
@use "./components/about";
@use "./components/post";
@use "./components/post-card";
@use "./components/post-list";
@use "./components/tutorial";
@use "./components/tutorial-card";
@use "./components/tutorial-list";
@use "./components/book";
@use "./components/book-card";
@use "./components/book-list";
@use "./components/author";
