---
import OptimizedImage from "@components/OptimizedImage.astro";
import { getAuthorPictureImage } from "@utils/imageImports";
import { IMAGE_DIMENSIONS } from "@utils/images";
import { render } from "astro:content";
import type { CollectionEntry } from "astro:content";

interface Props {
  author: CollectionEntry<"authors">;
  border?: boolean;
}

const { author, border = true } = Astro.props;
const { Content } = await render(author);

// Get optimized author picture (with fallback to undefined if not found)
const authorPicture = getAuthorPictureImage(author.data.picture);
---

<main class:list={[border ? "author-info--border" : "author-info"]}>
  {
    authorPicture && (
      <div class="author-info__image">
        <div class="author-info__image__border">
          <OptimizedImage
            src={authorPicture}
            alt={author.data.name}
            width={IMAGE_DIMENSIONS.AUTHOR_PICTURE_MEDIUM.width}
            height={IMAGE_DIMENSIONS.AUTHOR_PICTURE_MEDIUM.height}
            loading="lazy"
          />
        </div>
      </div>
    )
  }
  <div class="author-info__text">
    <div class="text-area">
      <Content />
    </div>
  </div>
</main>
