---
import { t } from "@locales";
import type { ContactItem } from "@types/content";

interface Props {
  lang: string;
  contact: ContactItem[];
}

const { lang, contact } = Astro.props;
---

<header class="header">
  <h1 class="header__title">{t(lang, "title")}</h1>
  <h2 class="header__subtitle">{t(lang, "subtitle")}</h2>
  <div class="header__contact">
    {
      contact.map((item) => (
        <div class="header__contact__item">
          <a href={item.link} target="_blank" rel="noreferrer">
            <span class="header__contact__icon" aria-hidden="true">
              {item.icon}
            </span>
            <p>{item.text}</p>
          </a>
        </div>
      ))
    }
  </div>
</header>
