---
import { t } from "@locales";
import type { ContactItem } from "@types/content";

import Icon from "./Icon.astro";

interface Props {
  lang: string;
  contact: ContactItem[];
}

const { lang, contact } = Astro.props;
---

<header class="header" data-pagefind-ignore>
  <div class="header__title">
    <span class="header__title--full">{t(lang, "title")}</span>
    <span class="header__title--abbreviated">{t(lang, "titleAbbreviated")}</span>
  </div>
  <div class="header__subtitle">{t(lang, "subtitle")}</div>
  <div class="header__contact">
    {
      contact.map((item) => (
        <div class="header__contact__item">
          <a href={item.link} target="_blank" rel="noreferrer" aria-label={item.name}>
            <Icon name={item.icon} class="header__contact__icon" />
            <span>{item.text}</span>
          </a>
        </div>
      ))
    }
  </div>
</header>
