.latest-posts {
  grid-column: span 12;
  margin-bottom: 40px;
  border: 2px solid $primary;

  @include print {
    display: none;
  }

  &__list {
    padding: 0 20px;
    overflow: hidden;
    transition: all .45s ease;

    &__post {
      display: grid;
      grid-template-areas:
        'title date'
        'excerpt .';
      margin-bottom: 20px;
      column-gap: 5vw;

      @include medium-and-up {
        // display: grid;
        // grid-template-columns: 1fr 2fr;
      }

      &__title {
        grid-area: title;
        text-transform: uppercase;
      }

      &__date {
        display: grid;
        grid-area: date;
        justify-content: end;
        color: $text;
      }

      &__excerpt {
        grid-area: excerpt;
        color: $text;
      }

      h4 {
        padding-left: 20px;
        font-weight: normal;
        text-transform: uppercase;
      }
    }

    > a {
      transition: all .5s ease;
      // color: $text;
    }
  }
}

.dark .latest-posts__list > a:hover {
  box-shadow: 8px 14px 8px rgba(139, 144, 149, .08), 1px 3px 8px rgba(139, 144, 149, .08);
}

.light .latest-posts__list > a:hover {
  box-shadow: 8px 14px 8px rgba(39, 44, 49, .08), 1px 3px 8px rgba(39, 44, 49, .08);
}
