.icon-tag:before {
  content: "\e800";
} /* '' */
.icon-location:before {
  content: "\e801";
} /* '' */
.icon-globe:before {
  content: "\e802";
} /* '' */
.icon-book:before {
  content: "\e803";
} /* '' */
.icon-phone:before {
  content: "\e804";
} /* '' */
.icon-star:before {
  content: "\e805";
} /* '' */
.icon-star-empty:before {
  content: "\e806";
} /* '' */
.icon-stats:before {
  content: "\e807";
} /* '' */
.icon-twitter:before {
  content: "\f099";
} /* '' */
.icon-github-circled:before {
  content: "\f09b";
} /* '' */
.icon-mail:before {
  content: "\f0e0";
} /* '' */
.icon-linkedin:before {
  content: "\f0e1";
} /* '' */
.icon-course:before {
  content: "\f19d";
} /* '' */
