.icon-location:before {
  content: "\e801";
} /* '' */
.icon-globe:before {
  content: "\e802";
} /* '' */
.icon-phone:before {
  content: "\e804";
} /* '' */
.icon-twitter:before {
  content: "\f099";
} /* '' */
.icon-github-circled:before {
  content: "\f09b";
} /* '' */
.icon-mail:before {
  content: "\f0e0";
} /* '' */
.icon-linkedin:before {
  content: "\f0e1";
} /* '' */
