.icon-tag {
  *zoom: expression(this.runtimeStyle[ "zoom"] = "1", this.innerHTML = "&#xe800;&nbsp;");
}
.icon-location {
  *zoom: expression(this.runtimeStyle[ "zoom"] = "1", this.innerHTML = "&#xe801;&nbsp;");
}
.icon-globe {
  *zoom: expression(this.runtimeStyle[ "zoom"] = "1", this.innerHTML = "&#xe802;&nbsp;");
}
.icon-book {
  *zoom: expression(this.runtimeStyle[ "zoom"] = "1", this.innerHTML = "&#xe803;&nbsp;");
}
.icon-phone {
  *zoom: expression(this.runtimeStyle[ "zoom"] = "1", this.innerHTML = "&#xe804;&nbsp;");
}
.icon-star {
  *zoom: expression(this.runtimeStyle[ "zoom"] = "1", this.innerHTML = "&#xe805;&nbsp;");
}
.icon-star-empty {
  *zoom: expression(this.runtimeStyle[ "zoom"] = "1", this.innerHTML = "&#xe806;&nbsp;");
}
.icon-stats {
  *zoom: expression(this.runtimeStyle[ "zoom"] = "1", this.innerHTML = "&#xe807;&nbsp;");
}
.icon-twitter {
  *zoom: expression(this.runtimeStyle[ "zoom"] = "1", this.innerHTML = "&#xf099;&nbsp;");
}
.icon-github-circled {
  *zoom: expression(this.runtimeStyle[ "zoom"] = "1", this.innerHTML = "&#xf09b;&nbsp;");
}
.icon-mail {
  *zoom: expression(this.runtimeStyle[ "zoom"] = "1", this.innerHTML = "&#xf0e0;&nbsp;");
}
.icon-linkedin {
  *zoom: expression(this.runtimeStyle[ "zoom"] = "1", this.innerHTML = "&#xf0e1;&nbsp;");
}
.icon-course {
  *zoom: expression(this.runtimeStyle[ "zoom"] = "1", this.innerHTML = "&#xf19d;&nbsp;");
}
